{% load static %}
<div class="widget widget-about">
    <h4 class="widget-title">Hi, I am Lekan!</h4>
    <img class="img-fluid" src="{% static "images/author.jpg" %}" alt="Themefisher">
    <p>I am an adept backend developer specializing in Django, focused on meticulously architecting the backbone of digital platforms. My expertise lies in crafting efficient, reliable systems, ensuring smooth operations and robust functionality for applications.</p>
    <ul class="list-inline social-icons mb-3">
      
      <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
      
      <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
      
      <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
      
      <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
      
      <li class="list-inline-item"><a href="#"><i class="ti-youtube"></i></a></li>
      
    </ul>
    <a href="../../registration/author.html" class="btn btn-primary mb-2">About me</a>
  </div>