  {% load static %}
  <div class="promotion">
    <img src="{% static "images/promotion.jpg" %}" class="img-fluid w-100">
    <div class="promotion-content">
      <h5 class="text-white mb-3">Create Stunning Website!!</h5>
      <p class="text-white mb-4">Crafting captivating digital experiences through stunning website design. Specializing in creating sleek, intuitive interfaces that captivate and engage users. Elevate your online presence with meticulously designed websites tailored to perfection.</p>
      <a href="https://themefisher.com/" class="btn btn-primary">Get Started</a>
    </div>
  </div>