{% for post in latest_posts %}
    <!-- post-item -->
    <article class="widget-card">
      <div class="d-flex">
    {% for image in post.images.all %}
        <img class="card-img-sm" src="{{ image.image.url }}">
    {% endfor %}
        <div class="ml-3">
          <h5><a class="post-title" href="post/elements/">{{ post.title }}</a></h5>
          <ul class="card-meta list-inline mb-0">
            <li class="list-inline-item mb-0">
              <i class="ti-calendar"></i>{{ post.created|date:"j M, Y" }}
            </li>
          </ul>
        </div>
      </div>
    </article>
{% endfor %}
    
  </div>